In [1]:
#https://www.opendataphilly.org

In [2]:
import pandas as pd
import datetime

In [3]:
crime_2016 = pd.read_csv('crime_2016.csv')

In [4]:
crime_2017 = pd.read_csv('crime_2017.csv', low_memory = False)

In [5]:
crime_2018 = pd.read_csv('crime_2018.csv')

In [6]:
crime_2019 = pd.read_csv('crime_2019.csv')

In [7]:
crime_2020 = pd.read_csv('crime_2020.csv')

In [8]:
crime_2020 = crime_2020.drop(['the_geom','cartodb_id','the_geom_webmercator'], axis = 1)

In [9]:
crime_all = pd.concat([crime_2016, crime_2017, crime_2018, crime_2019, crime_2020])
crime_all = crime_all.reset_index(drop=True)

In [10]:
crime_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769496 entries, 0 to 769495
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   objectid            769496 non-null  int64
 1   dc_dist             769496 non-null  int64
 2   psa                 769469 non-null  object
 3   dispatch_date_time  769496 non-null  object
 4   dispatch_date       769496 non-null  object
 5   dispatch_time       769496 non-null  object
 6   hour_               769494 non-null  float64
 7   dc_key              769496 non-null  int64
 8   location_block      769496 non-null  object
 9   ucr_general         769496 non-null  int64
 10  text_general_code   769496 non-null  object
 11  point_x             769313 non-null  float64
 12  point_y             769313 non-null  float64
 13  lat                 769313 non-null  float64
 14  lng                 769313 non-null  float64
dtypes: float64(5), int64(4), object(6)
memory usage: 88.1+ MB

In [11]:
crime_all = crime_all.dropna().reset_index(drop = True)

In [12]:
crime_all.tail()

,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
769279,3479934,22,4,2020-12-31 22:12:54,2020-12-31,22:12:54,22.0,202022085070,1500 BLOCK CECIL B MOORE AV,700,Motor Vehicle Theft,-75.160370,39.979073,39.979073,-75.160370
769280,4148916,35,2,2020-12-17 13:20:00,2020-12-17,13:20:00,13.0,202035101088,4700 BLOCK N CAMAC ST,2600,All Other Offenses,-75.144680,40.025045,40.025045,-75.144680
769281,3475055,14,1,2020-12-30 23:48:48,2020-12-30,23:48:48,23.0,202014077655,7300 BLOCK OGONTZ AV,800,Other Assaults,-75.155636,40.065843,40.065843,-75.155636
769282,3476813,14,2,2020-12-03 11:09:00,2020-12-03,11:09:00,11.0,202014072946,0 BLOCK E PHIL ELLENA ST,1100,Fraud,-75.184182,40.052837,40.052837,-75.184182
769283,3936866,18,3,2020-12-22 14:11:00,2020-12-22,14:11:00,14.0,202018083297,4800 BLOCK PASCHALL AVE,1700,Other Sex Offenses (Not Commercialized),-75.210677,39.940273,39.940273,-75.210677

In [13]:
crime_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769284 entries, 0 to 769283
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   objectid            769284 non-null  int64
 1   dc_dist             769284 non-null  int64
 2   psa                 769284 non-null  object
 3   dispatch_date_time  769284 non-null  object
 4   dispatch_date       769284 non-null  object
 5   dispatch_time       769284 non-null  object
 6   hour_               769284 non-null  float64
 7   dc_key              769284 non-null  int64
 8   location_block      769284 non-null  object
 9   ucr_general         769284 non-null  int64
 10  text_general_code   769284 non-null  object
 11  point_x             769284 non-null  float64
 12  point_y             769284 non-null  float64
 13  lat                 769284 non-null  float64
 14  lng                 769284 non-null  float64
dtypes: float64(5), int64(4), object(6)
memory usage: 88.0+ MB

In [14]:
crime_all = crime_all.drop(['objectid', 'psa','dc_key', 'ucr_general', 'point_x', 'point_y'], axis=1)

In [15]:
#change to datetime data type
crime_all['datetime'] = pd.to_datetime(crime_all['dispatch_date_time'],format = '%Y/%m/%d',errors='coerce')

#extract month
crime_all['month'] = crime_all['datetime'].dt.month 
crime_all['year'] = crime_all['datetime'].dt.year 
#extract weekday name
crime_all['Weekday'] = crime_all['datetime'].dt.day_name() 
crime_all['crime_day'] = crime_all['datetime'].dt.day

#Rename the columns
crime_all = crime_all.rename(columns = {'hour_':'crime_hour',"dispatch_date":'crime_date',
                                          "location_block":'crime_location',"text_general_code":'crime_type'})

#some crime_type has black spaces at rear so removing them
crime_all['crime_type'] = crime_all['crime_type'].str.rstrip()

In [16]:
crime_all = crime_all.drop(['crime_date','dispatch_time'],axis = 1)

In [17]:
crime_all.tail()

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
769279,22,2020-12-31 22:12:54,22.0,1500 BLOCK CECIL B MOORE AV,Motor Vehicle Theft,39.979073,-75.160370,2020-12-31 22:12:54,12,2020,Thursday,31
769280,35,2020-12-17 13:20:00,13.0,4700 BLOCK N CAMAC ST,All Other Offenses,40.025045,-75.144680,2020-12-17 13:20:00,12,2020,Thursday,17
769281,14,2020-12-30 23:48:48,23.0,7300 BLOCK OGONTZ AV,Other Assaults,40.065843,-75.155636,2020-12-30 23:48:48,12,2020,Wednesday,30
769282,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3
769283,18,2020-12-22 14:11:00,14.0,4800 BLOCK PASCHALL AVE,Other Sex Offenses (Not Commercialized),39.940273,-75.210677,2020-12-22 14:11:00,12,2020,Tuesday,22

### Finding Duplicate values

In [18]:
# dropping duplicate records
crime_all = crime_all.drop_duplicates().reset_index(drop = True)

In [19]:
# We dropped almost 20,000 duplicate values
crime_all.tail()

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
750181,22,2020-12-31 22:12:54,22.0,1500 BLOCK CECIL B MOORE AV,Motor Vehicle Theft,39.979073,-75.160370,2020-12-31 22:12:54,12,2020,Thursday,31
750182,35,2020-12-17 13:20:00,13.0,4700 BLOCK N CAMAC ST,All Other Offenses,40.025045,-75.144680,2020-12-17 13:20:00,12,2020,Thursday,17
750183,14,2020-12-30 23:48:48,23.0,7300 BLOCK OGONTZ AV,Other Assaults,40.065843,-75.155636,2020-12-30 23:48:48,12,2020,Wednesday,30
750184,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3
750185,18,2020-12-22 14:11:00,14.0,4800 BLOCK PASCHALL AVE,Other Sex Offenses (Not Commercialized),39.940273,-75.210677,2020-12-22 14:11:00,12,2020,Tuesday,22

In [20]:
# This will show any two rows having the same 'dispatch_date_time','lat' and 'lng'.
# Even after dropping duplicate values, 2165 rows still have duplicate values!!! Let us analyse more
crime_all[crime_all.duplicated(subset=['dispatch_date_time','lat','lng'], keep=False)]

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
16,77,2016-04-05 18:39:00,18.0,0 BLOCK PIA WAY,Thefts,39.883881,-75.230706,2016-04-05 18:39:00,4,2016,Tuesday,5
19,77,2016-12-21 14:00:00,14.0,0 BLOCK PIA WAY,Thefts,39.883881,-75.230706,2016-12-21 14:00:00,12,2016,Wednesday,21
36,77,2016-05-03 15:57:00,15.0,0 BLOCK PIA WAY,Thefts,39.883881,-75.230706,2016-05-03 15:57:00,5,2016,Tuesday,3
3317,25,2016-10-14 14:56:00,14.0,3900 BLOCK WHITAKER AVE,Thefts,40.009055,-75.122242,2016-10-14 14:56:00,10,2016,Friday,14
3568,24,2016-01-28 18:28:00,18.0,2700 BLOCK KENSINGTON AVE,Thefts,39.989884,-75.125454,2016-01-28 18:28:00,1,2016,Thursday,28
...,...,...,...,...,...,...,...,...,...,...,...,...
730961,2,2020-11-28 14:40:00,14.0,7600 BLOCK CENTRAL AVE,All Other Offenses,40.068619,-75.087055,2020-11-28 14:40:00,11,2020,Saturday,28
730962,2,2020-11-28 14:40:00,14.0,7600 BLOCK CENTRAL AVE,Other Assaults,40.068619,-75.087055,2020-11-28 14:40:00,11,2020,Saturday,28
734387,14,2020-07-20 22:51:00,22.0,MANSFIELD AV & MOHICAN ST,Vandalism/Criminal Mischief,28.419548,-81.581202,2020-07-20 22:51:00,7,2020,Monday,20
745369,77,2020-12-25 14:58:00,14.0,0 BLOCK PIA WAY,All Other Offenses,39.883881,-75.230706,2020-12-25 14:58:00,12,2020,Friday,25
749563,77,2020-12-25 14:58:00,14.0,0 BLOCK PIA WAY,Thefts,39.883881,-75.230706,2020-12-25 14:58:00,12,2020,Friday,25

In [21]:
# the crime is same but is being reported twice, only crime type field is changing.
# These are also duplicate values which needs to be taken care of
crime_all[crime_all['dispatch_date_time'] == '2016-12-21 14:00:00']

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
19,77,2016-12-21 14:00:00,14.0,0 BLOCK PIA WAY,Thefts,39.883881,-75.230706,2016-12-21 14:00:00,12,2016,Wednesday,21
61551,77,2016-12-21 14:00:00,14.0,0 BLOCK PIA WAY,Fraud,39.883881,-75.230706,2016-12-21 14:00:00,12,2016,Wednesday,21

In [22]:
crime_all[crime_all['dispatch_date_time'] == '2016-10-14 14:56:00']

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
3317,25,2016-10-14 14:56:00,14.0,3900 BLOCK WHITAKER AVE,Thefts,40.009055,-75.122242,2016-10-14 14:56:00,10,2016,Friday,14
58139,25,2016-10-14 14:56:00,14.0,3900 BLOCK WHITAKER AV,Vandalism/Criminal Mischief,40.009055,-75.122242,2016-10-14 14:56:00,10,2016,Friday,14

In [23]:
#to fix the above issue let's find such duplicate rows with all data same in all columns except for crime_type
# if there are two or more such rows then only keep the first row 
crime_all = crime_all.drop_duplicates(subset= ['datetime','lat','lng'], keep="first").reset_index(drop = True)

In [24]:
crime_all.tail()

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
749078,22,2020-12-31 22:12:54,22.0,1500 BLOCK CECIL B MOORE AV,Motor Vehicle Theft,39.979073,-75.160370,2020-12-31 22:12:54,12,2020,Thursday,31
749079,35,2020-12-17 13:20:00,13.0,4700 BLOCK N CAMAC ST,All Other Offenses,40.025045,-75.144680,2020-12-17 13:20:00,12,2020,Thursday,17
749080,14,2020-12-30 23:48:48,23.0,7300 BLOCK OGONTZ AV,Other Assaults,40.065843,-75.155636,2020-12-30 23:48:48,12,2020,Wednesday,30
749081,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3
749082,18,2020-12-22 14:11:00,14.0,4800 BLOCK PASCHALL AVE,Other Sex Offenses (Not Commercialized),39.940273,-75.210677,2020-12-22 14:11:00,12,2020,Tuesday,22

In [25]:
crime_all[crime_all['dispatch_date_time'] == '2016-12-21 14:00:00']

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
19,77,2016-12-21 14:00:00,14.0,0 BLOCK PIA WAY,Thefts,39.883881,-75.230706,2016-12-21 14:00:00,12,2016,Wednesday,21

In [26]:
#We have succesfully removed all the duplicate values
crime_all[crime_all.duplicated(subset=['dispatch_date_time','lat','lng'], keep=False)]

Empty DataFrame
Columns: [dc_dist, dispatch_date_time, crime_hour, crime_location, crime_type, lat, lng, datetime, month, year, Weekday, crime_day]
Index: []

In [58]:
crime_cleaned = crime_all.copy()

In [59]:
crime_cleaned.tail()

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
749078,22,2020-12-31 22:12:54,22.0,1500 BLOCK CECIL B MOORE AV,Motor Vehicle Theft,39.979073,-75.160370,2020-12-31 22:12:54,12,2020,Thursday,31
749079,35,2020-12-17 13:20:00,13.0,4700 BLOCK N CAMAC ST,All Other Offenses,40.025045,-75.144680,2020-12-17 13:20:00,12,2020,Thursday,17
749080,14,2020-12-30 23:48:48,23.0,7300 BLOCK OGONTZ AV,Other Assaults,40.065843,-75.155636,2020-12-30 23:48:48,12,2020,Wednesday,30
749081,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3
749082,18,2020-12-22 14:11:00,14.0,4800 BLOCK PASCHALL AVE,Other Sex Offenses (Not Commercialized),39.940273,-75.210677,2020-12-22 14:11:00,12,2020,Tuesday,22

In [60]:
# As there are 36 types of different crimes, let us combine them by their similarity and make 9 different categories
L1 = ["Homicide - Criminal","Homicide - Justifiable","Homicide - Gross Negligence"]
L2 = ["Other Assaults","Aggravated Assault No Firearm","Aggravated Assault Firearm"]
L3 = ['Thefts',"Theft from Vehicle","Motor Vehicle Theft","Receiving Stolen Property","Recovered Stolen Motor Vehicle"]
L4 = ["Rape","Other Sex Offenses (Not Commercialized)","Prostitution and Commercialized Vice"]
L5 = ['Fraud',"Forgery and Counterfeiting","Embezzlement"]
L6 = ["Vandalism/Criminal Mischief","Disorderly Conduct","Public Drunkenness","Vagrancy/Loitering","DRIVING UNDER THE INFLUENCE"]
L7 = ['Narcotic / Drug Law Violations',"Weapon Violations","Liquor Law Violations","Gambling Violations"]
L8 = ['All Other Offenses',"Arson","Offenses Against Family and Children"]
L9 = ["Burglary Non-Residential","Burglary Residential","Robbery Firearm","Robbery No Firearm"]

In [61]:
from collections import ChainMap
d = ChainMap(dict.fromkeys(L1, "Homicide"), 
             dict.fromkeys(L2, 'Assaults'),
             dict.fromkeys(L3, "Theft"),
             dict.fromkeys(L4, "Sex Related"),
             dict.fromkeys(L5, "Fraud"),
             dict.fromkeys(L6, "Misconduct"),
             dict.fromkeys(L7, "Violation of Laws"),
             dict.fromkeys(L8, "Other"),
             dict.fromkeys(L9,"Burglary/Robbery"))

In [62]:
crime_cleaned['crime_category'] = crime_cleaned['crime_type'].map(d.get) ## mapping

In [63]:
crime_cleaned.tail()

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day,crime_category
749078,22,2020-12-31 22:12:54,22.0,1500 BLOCK CECIL B MOORE AV,Motor Vehicle Theft,39.979073,-75.160370,2020-12-31 22:12:54,12,2020,Thursday,31,Theft
749079,35,2020-12-17 13:20:00,13.0,4700 BLOCK N CAMAC ST,All Other Offenses,40.025045,-75.144680,2020-12-17 13:20:00,12,2020,Thursday,17,Other
749080,14,2020-12-30 23:48:48,23.0,7300 BLOCK OGONTZ AV,Other Assaults,40.065843,-75.155636,2020-12-30 23:48:48,12,2020,Wednesday,30,Assaults
749081,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3,Fraud
749082,18,2020-12-22 14:11:00,14.0,4800 BLOCK PASCHALL AVE,Other Sex Offenses (Not Commercialized),39.940273,-75.210677,2020-12-22 14:11:00,12,2020,Tuesday,22,Sex Related

In [64]:
crime_cleaned.describe()

,dc_dist,crime_hour,lat,lng,month,year,crime_day
count,749083.000000,749083.000000,749083.000000,749083.000000,749083.000000,749083.000000,749083.000000
mean,17.739104,13.446371,39.946331,-75.178291,6.556296,2017.961202,15.722590
std,10.400911,6.064828,0.729423,0.408656,3.367106,1.401759,8.820725
min,1.000000,0.000000,28.419548,-81.581379,1.000000,2016.000000,1.000000
25%,9.000000,10.000000,39.957152,-75.188373,4.000000,2017.000000,8.000000
50%,17.000000,14.000000,39.991154,-75.158469,7.000000,2018.000000,16.000000
75%,24.000000,18.000000,40.026441,-75.122242,9.000000,2019.000000,23.000000
max,77.000000,23.000000,40.137713,-74.957586,12.000000,2020.000000,31.000000

In [65]:
crime_cleaned[crime_cleaned['lat'] < 30]

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day,crime_category
151868,24,2016-04-13 00:00:00,14.0,4000 BLOCK HOWARD ST,Homicide - Criminal,28.419715,-81.581379,2016-04-13 00:00:00,4,2016,Wednesday,13,Homicide
151870,12,2016-04-22 00:00:00,21.0,8400 BLOCK LINDGERGH BLVD,Homicide - Criminal,28.419715,-81.581379,2016-04-22 00:00:00,4,2016,Friday,22,Homicide
151876,17,2016-07-31 00:00:00,21.0,2300 BLOCK GERRETT ST,Homicide - Criminal,28.419715,-81.581379,2016-07-31 00:00:00,7,2016,Sunday,31,Homicide
151879,16,2016-09-05 00:00:00,1.0,4400 BLOCK WESTMININSTER A,Homicide - Criminal,28.419715,-81.581379,2016-09-05 00:00:00,9,2016,Monday,5,Homicide
151883,19,2016-06-17 00:00:00,9.0,5300 BLOCK GEORGE'S HILL D,Homicide - Criminal,28.419715,-81.581379,2016-06-17 00:00:00,6,2016,Friday,17,Homicide
...,...,...,...,...,...,...,...,...,...,...,...,...,...
748545,15,2020-12-19 17:57:26,17.0,7700 BLOCK FRANKFORD AVE KFORD AV,Thefts,28.419548,-81.581202,2020-12-19 17:57:26,12,2020,Saturday,19,Theft
748611,15,2020-12-14 22:40:04,22.0,6000 BLOCK COMLY ST,Robbery Firearm,28.419715,-81.581378,2020-12-14 22:40:04,12,2020,Monday,14,Burglary/Robbery
748665,77,2020-12-18 12:33:00,12.0,GATE C-27,Thefts,28.419715,-81.581378,2020-12-18 12:33:00,12,2020,Friday,18,Theft
748674,35,2020-11-11 20:53:00,20.0,400 BLOCK CHELTENHAM AVE,Other Assaults,28.419548,-81.581202,2020-11-11 20:53:00,11,2020,Wednesday,11,Assaults
748905,6,2020-12-19 19:45:03,19.0,N 1000 MARKET ST,Thefts,28.419715,-81.581378,2020-12-19 19:45:03,12,2020,Saturday,19,Theft

In [66]:
# There are some latitudes for florida where lat<30 so only keeping values where lat>30
crime_cleaned = crime_cleaned[crime_cleaned['lat'] > 30].reset_index(drop = True)

In [67]:
crime_cleaned.tail()

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day,crime_category
746101,22,2020-12-31 22:12:54,22.0,1500 BLOCK CECIL B MOORE AV,Motor Vehicle Theft,39.979073,-75.160370,2020-12-31 22:12:54,12,2020,Thursday,31,Theft
746102,35,2020-12-17 13:20:00,13.0,4700 BLOCK N CAMAC ST,All Other Offenses,40.025045,-75.144680,2020-12-17 13:20:00,12,2020,Thursday,17,Other
746103,14,2020-12-30 23:48:48,23.0,7300 BLOCK OGONTZ AV,Other Assaults,40.065843,-75.155636,2020-12-30 23:48:48,12,2020,Wednesday,30,Assaults
746104,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3,Fraud
746105,18,2020-12-22 14:11:00,14.0,4800 BLOCK PASCHALL AVE,Other Sex Offenses (Not Commercialized),39.940273,-75.210677,2020-12-22 14:11:00,12,2020,Tuesday,22,Sex Related

**Converting lat long for 750k rows would take a lot of time, so I have aggregated the data by crime_location field choosing the first long lat combination (because sometimes there is slight difference between some lat long for the same location but the zip code is always the same)**

**Aggregating records by location reduces the data points to convert from 750k to 54k**

**Now I will have to only convert 54k lat, long pair to zipcodes**

In [68]:
trim_zip = crime_cleaned[['crime_location','lat','lng']]
## aggregate location and getting first value of long and lat
trim_zip_agg = trim_zip.groupby('crime_location').agg({'lat':'first','lng':'first'})

In [69]:
trim_zip_agg = trim_zip_agg.reset_index()

In [70]:
trim_zip_agg.tail()

              crime_location        lat        lng
54356  YERKES ST / LOWBER AV  40.064955 -75.167319
54357  YEWDALL ST  / CHESTNT  39.959033 -75.229640
54358       `200 CHESTNUT ST  39.948430 -75.144689
54359       `3100 N BROAD ST  40.000114 -75.153323
54360         `901 RIDGE AVE  39.957828 -75.154497

In [179]:
#pip install googlemaps
import googlemaps

In [ ]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = gmaps.reverse_geocode((df[lat_field], df[lon_field]))
    ## This will return the zipcode. String slicing in formatted address
    return location[0]['formatted_address'][-10:-5]  
gmaps = googlemaps.Client(key='****************')
df = pd.DataFrame(trim_zip_agg)

In [ ]:
zipcodes = df.apply(get_zipcode, axis=1, geolocator=gmaps, lat_field='lat', lon_field='lng')

In [192]:
zipcodes

0        19120
1        19138
2        19123
3        19106
4        19122
         ...
54412    19150
54413    19139
54414    19106
54415    19132
54416    19107
Name: google_zip, Length: 54417, dtype: object

In [71]:
#Reading the saved file from my directory
zip_data = pd.read_csv('google_location.csv')

In [72]:
zip_data = zip_data[['lat','lng','google_zip']]

In [73]:
zip_data.tail()

             lat        lng google_zip
54412  40.064955 -75.167319      19150
54413  39.959033 -75.229640      19139
54414  39.948430 -75.144689      19106
54415  40.000114 -75.153323      19132
54416  39.957828 -75.154497      19107

In [74]:
merged_df = pd.merge(trim_zip_agg, zip_data, on=['lat', 'lng'], how='left')

In [75]:
merged_df = merged_df.drop_duplicates().reset_index(drop = True)

In [76]:
merged_df.tail()

              crime_location        lat        lng google_zip
54361  YERKES ST / LOWBER AV  40.064955 -75.167319      19150
54362  YEWDALL ST  / CHESTNT  39.959033 -75.229640      19139
54363       `200 CHESTNUT ST  39.948430 -75.144689      19106
54364       `3100 N BROAD ST  40.000114 -75.153323      19132
54365         `901 RIDGE AVE  39.957828 -75.154497      19107

In [77]:
# As there were some non numeric and garbage values in zipcode column so convert everything into numeric
# Nin numberic values are specified as NaN
merged_df['google_zip'] = pd.to_numeric(merged_df['google_zip'], errors='coerce')
filtered_df = merged_df[(merged_df['google_zip'] >= 19100) & (merged_df['google_zip'] <= 19200)]

In [78]:
filtered_df = filtered_df.drop_duplicates().reset_index(drop = True)

In [79]:
all_crime_merged = crime_cleaned.merge(filtered_df[['crime_location','google_zip']], on = 'crime_location', 
                                       how = 'left')

In [80]:
all_crime_merged = all_crime_merged.drop_duplicates().reset_index(drop = True)

In [81]:
all_crime_merged.tail()

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day,crime_category,google_zip
746101,22,2020-12-31 22:12:54,22.0,1500 BLOCK CECIL B MOORE AV,Motor Vehicle Theft,39.979073,-75.160370,2020-12-31 22:12:54,12,2020,Thursday,31,Theft,19121.0
746102,35,2020-12-17 13:20:00,13.0,4700 BLOCK N CAMAC ST,All Other Offenses,40.025045,-75.144680,2020-12-17 13:20:00,12,2020,Thursday,17,Other,19141.0
746103,14,2020-12-30 23:48:48,23.0,7300 BLOCK OGONTZ AV,Other Assaults,40.065843,-75.155636,2020-12-30 23:48:48,12,2020,Wednesday,30,Assaults,19138.0
746104,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3,Fraud,19119.0
746105,18,2020-12-22 14:11:00,14.0,4800 BLOCK PASCHALL AVE,Other Sex Offenses (Not Commercialized),39.940273,-75.210677,2020-12-22 14:11:00,12,2020,Tuesday,22,Sex Related,19143.0

In [82]:
all_crime_merged.describe()

,dc_dist,crime_hour,lat,lng,month,year,crime_day,google_zip
count,746106.000000,746106.000000,746106.000000,746106.000000,746106.000000,746106.000000,746106.000000,739696.000000
mean,17.691166,13.446096,39.992323,-75.152742,6.555484,2017.955465,15.723043,19131.753213
std,10.265285,6.064055,0.043927,0.058541,3.366584,1.401178,8.820656,13.448915
min,1.000000,0.000000,39.875032,-75.278982,1.000000,2016.000000,1.000000,19102.000000
25%,9.000000,10.000000,39.957536,-75.187287,4.000000,2017.000000,8.000000,19123.000000
50%,17.000000,14.000000,39.991394,-75.158312,7.000000,2018.000000,16.000000,19134.000000
75%,24.000000,18.000000,40.026562,-75.122040,9.000000,2019.000000,23.000000,19142.000000
max,77.000000,23.000000,40.137713,-74.957586,12.000000,2020.000000,31.000000,19192.000000

In [83]:
# google_zip has has missing values because we got garbage values for some lat longs
all_crime_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746106 entries, 0 to 746105
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   dc_dist             746106 non-null  int64
 1   dispatch_date_time  746106 non-null  object
 2   crime_hour          746106 non-null  float64
 3   crime_location      746106 non-null  object
 4   crime_type          746106 non-null  object
 5   lat                 746106 non-null  float64
 6   lng                 746106 non-null  float64
 7   datetime            746106 non-null  datetime64[ns]
 8   month               746106 non-null  int64
 9   year                746106 non-null  int64
 10  Weekday             746106 non-null  object
 11  crime_day           746106 non-null  int64
 12  crime_category      746106 non-null  object
 13  google_zip          739696 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(5)
memory usage: 79.7+ MB

In [84]:
#Validating merging results randomly using crime_all data and it matches so our new merged dataframe is accurate
crime_all[crime_all['dispatch_date_time'] == '2020-12-03 11:09:00']

,dc_dist,dispatch_date_time,crime_hour,crime_location,crime_type,lat,lng,datetime,month,year,Weekday,crime_day
749081,14,2020-12-03 11:09:00,11.0,0 BLOCK E PHIL ELLENA ST,Fraud,40.052837,-75.184182,2020-12-03 11:09:00,12,2020,Thursday,3

In [85]:
all_crime_merged = all_crime_merged[['datetime','crime_day','crime_hour','month','year','crime_location','crime_category','google_zip']]

In [86]:
all_crime_merged = all_crime_merged.rename(columns = {'google_zip':'crime_zipcode'})

In [87]:
all_crime_merged = all_crime_merged.drop_duplicates().reset_index(drop = True)

In [88]:
all_crime_merged.tail()

,datetime,crime_day,crime_hour,month,year,crime_location,crime_category,crime_zipcode
745405,2020-12-31 22:12:54,31,22.0,12,2020,1500 BLOCK CECIL B MOORE AV,Theft,19121.0
745406,2020-12-17 13:20:00,17,13.0,12,2020,4700 BLOCK N CAMAC ST,Other,19141.0
745407,2020-12-30 23:48:48,30,23.0,12,2020,7300 BLOCK OGONTZ AV,Assaults,19138.0
745408,2020-12-03 11:09:00,3,11.0,12,2020,0 BLOCK E PHIL ELLENA ST,Fraud,19119.0
745409,2020-12-22 14:11:00,22,14.0,12,2020,4800 BLOCK PASCHALL AVE,Sex Related,19143.0

In [89]:
all_crime_merged.to_csv('crime_data.csv',index = None)